.container {
  display: flex;
  flex-direction: column;
  width: 310px;
  min-height: 100px;
  padding: 5px;
}
.mockItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  margin: 5px 0;
  padding: 10px 0;
}
